<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person edit page</title>
</head>
<body>

<h1>Edit Person Data</h1>
<form id="personForm">
    <p><strong>ID:</strong> <span id="personId"></span></p>
    <p><strong>Username:</strong> <input type="text" id="personUsername" name="username"></p>
    <p><strong>Role:</strong> <input type="text" id="personRole" name="role"></p>
    <p><strong>Enabled:</strong>
        <input type="radio" id="personEnabled" name="enabled" value="true"> Enabled
        <input type="radio" id="personDisabled" name="enabled" value="false"> Disabled
    </p>
    <p><strong>Password:</strong> <input type="text" id="personPassword" name="password"></p>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="button" id="saveButton">Save</button>
</form>

<script>
    // Получить userId из URL
    const userId = window.location.pathname.split("/").pop();

    // JavaScript код для отображения данных
    function displayPersonData(data) {
        document.getElementById("personId").textContent = userId;
        document.getElementById("personUsername").value = data.username;
        document.getElementById("personRole").value = data.role;
        if (data.enabled) {
            document.getElementById("personEnabled").checked = true;
        } else {
            document.getElementById("personDisabled").checked = true;
        }
        document.getElementById("personPassword").value = '';
    }

    // JavaScript код для отправки данных на сервер
    function savePersonData() {
        const formData = new FormData(document.getElementById("personForm"));
        const jsonData = {};

        formData.forEach((value, key) => {
            jsonData[key] = value;
        });

        fetch(`/user_edit/${userId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData),
        })
            .then(response => {
                if (response.status === 200) {
                    alert("Пользователь успешно изменен.");
                    window.location.href = `/users`; // Перенаправить на главную страницу или другую страницу
                } else {
                    // Возникла ошибка при удалении
                    alert("Произошла ошибка при изменении пользователя.");
                }
            })
            .catch(error => {
                console.error("Error updating user: " + error);
            });
    }

    // Отправить GET-запрос на сервер для получения данных о Person
    fetch(`/user_json/${userId}`)
        .then(response => response.json())
        .then(data => {
            displayPersonData(data);
        })
        .catch(error => {
            console.error("Error loading person data: " + error);
        });

    // Привязать обработчик события для кнопки "Сохранить"
    document.getElementById("saveButton").addEventListener("click", savePersonData);

</script>
</body>
</html>